<div class="csreps-updates">
	{% for item in fb_data %}
	<div class="mx-auto mx-lg-2">
		<img src="{{item.media.image.src}}" class="text-center"  style="max-height: 150px;">
	</div>
	{% endfor %}
</div>
<div class="csreps-updates-content my-3">
	{% for item in fb_data %}
		<div>
			<div class="row">
				<div class="col-lg-4">
					<img src="{{item.media.image.src}}"  style="max-height: 100%; max-width: 100%; min-width: 50%; min-width: 50%">
				</div>
				<div class="col-lg-8 caption-bg px-0">
					<div class="caption-content">
						{{item.description|safe|linebreaks}}
						<div class="d-flex justify-content-between mt-4">
							<small class="my-auto d-inline-flex">
								<i class="fas fa-clock mr-2 my-auto"></i>
								<span class="my-auto">{{item.date}}</span>
							</small>
							<a href="{{item.url}}" class="my-auto" target="_blank">
								<button class="btn btn-primary d-inline-flex" type="button">
									<span class="my-auto">Read More</span>
								</button>
							</a>
						</div>
						{% if item.hashtags|length > 0 %}
						<hr class="mt-3">
						<div class="hashtags d-inline-flex flex-wrap">
							{% for tags in item.hashtags %}
								<small class="mr-2 py-1 px-2 rounded-pill d-inline-flex hashtag">
									<i class="fas fa-hashtag my-auto bg-light p-1 rounded-circle"></i>
									<span class="my-auto mx-2">{{tags}}</span>
								</small>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>	