{% load static %}
<footer class="csreps-footer bg-green">
	<div class="footer-overlay"></div>
	<div class="d-flex flex-column">
		<div class="container">

			Footer not done, don't judge!
			<div class="row">
				<div class="col-lg-4">
					<img class="my-auto" src="{% static 'main/images/esc-sm.png' %}" style="height: 40px;">
				</div>
				<div class="col-lg-4">
					<p>UP Engineering Student Council</p>
					<p>Room 123, Melchor Hall</p>
					<p>University of the Philippines Diliman</p>
					<p>Quezon City</p>
				</div>
				<div class="col-lg-4">
				</div>
			</div>

			© Engineering Student Council
		</div>
	</div>
</footer>