{% load static %}
<header class="csreps-header position-absolute w-100">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container d-flex justify-content-start">
			<a class="navbar-brand d-flex" href="{% url 'main:index' %}">
			   <img class="my-auto" src="{% static 'main/images/esc-sm.png' %}">
			   <img class="my-auto mx-2" src="{% static 'main/images/dcs-sm.png' %}">
			</a>
			<a href="{% url 'admin:index' %}" class="ml-auto d-flex" style="color: #acacac">
				<i class="fas fa-user-cog h5 my-auto"></i>
			</a>
		</div>
	</nav>
</header>