{% extends 'main/base_admin.html' %}
{% load static %}
{% block content %}
	<div class="container mt-3">
		<div class="d-flex mb-3">
			<img class="my-auto rounded" src="{% static 'main/images/landing/troubleshooter.png' %}" style="height: 64px">
			<h2 class="my-auto font-weight-bold ml-3 text-green">troubleshooter.</h2>
		</div>
		<div class="troubleshoot-responses">
			<div class="row">
				<div class="col-lg-3 mb-3">
					<nav class="nav flex-row flex-lg-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					  <a class="nav-link active" id="v-pills-concerns-tab" data-toggle="pill" href="#v-pills-concerns" role="tab" aria-controls="v-pills-concerns" aria-selected="true">Concerns</a>
					  <a class="nav-link" id="v-pills-answers-tab" data-toggle="pill" href="#v-pills-answers" role="tab" aria-controls="v-pills-answers" aria-selected="false">Answers</a>
					</nav>
				</div>
				<div class="col-lg-9">
					<div class="tab-content" id="v-pills-tabContent">
					  <div class="tab-pane fade show active admin-concerns" id="v-pills-concerns" role="tabpanel" aria-labelledby="v-pills-concerns-tab">
					  	<div class="loader mx-auto"></div>
					  </div>
					  <div class="tab-pane fade admin-concern-answers" id="v-pills-answers" role="tabpanel" aria-labelledby="v-pills-answers-tab">
					  	<div class="loader mx-auto"></div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block styles %}
	
{% endblock %}

{% block scripts %}
	<script async>
		var concern_request;
		if (concern_request)
			concern_request.abort();
		
		concern_request =  $.ajax({
			type: 'post',
			url: '{% url "admin:troubleshooter" %}?act=concerns',
			cache: true,
			headers: {'X-CSRFToken': '{{csrf_token}}' },
			success: function (response, status, xhr){
				$('.admin-concerns').html(response.response);
		    }
		});
	</script>
	<script async>
		var answers_request;
		if (answers_request)
			answers_request.abort();
		
		answers_request =  $.ajax({
			type: 'post',
			url: '{% url "admin:troubleshooter" %}?act=answers',
			cache: true,
			headers: {'X-CSRFToken': '{{csrf_token}}' },
			success: function (response, status, xhr){
				$('.admin-concern-answers').html(response.response);
		    }
		});
	</script>
{% endblock %}