{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>
		{% block title %}
			{% if app_name %}
				{{app_name|title}} / 
			{% endif %}
			Computer Science Representatives - Engineering Student Council
		{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">
		<meta name="application-name" content="Computer Science Representatives">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
		{% block styles %}
		{% endblock %}
		<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
		<link rel="shortcut icon" href="{% static app_name|add:'/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static app_name|add:'/favicon.ico' %}" type="image/x-icon">
		
		<script src="https://kit.fontawesome.com/76d8a563a1.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="site-container w-100 d-flex flex-column">
			{% include 'main/partials/header.html' %}
			<div class="site-content my-auto">
				{% block content %}
				{% endblock %}
			</div>
			{% include 'main/partials/footer.html' %}
		</div>
		<script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>