{% extends 'main/base.html' %}
{% load static %}
{% block content %}
	<div class="site-container d-flex landing-bg">
		<div class="landing-overlay">
			<div class="h-100 botleft-vector"></div>
			<div class="h-100 right-vector position-absolute w-100" style="top:0"></div>
		</div>
		<div class="container landing-content d-flex">
			<div class="my-auto mx-auto mx-lg-0 d-flex flex-column">
				<p class="top-text mb-0 mb-lg-1" >UNIVERSITY OF THE PHILIPPINES DILIMAN</p>
				<span class="font-weight-bold title">COMPUTER SCIENCE</span>
				<div class="px-2 subtext">
					<span class="font-weight-bold title">REPRESENTATIVES</span>
				</div>
				<div class="landing-socmed mt-4 ml-auto mr-auto ml-lg-0">
					<a href="https://www.facebook.com/up.csreps" class="d-inline-flex"><i class=" m-auto fab fa-facebook-f"></i></a>
					<a href="https://www.twitter.com/up_csreps" class="d-inline-flex mx-2"><i class="fab fa-twitter m-auto"></i></a>
					<a href="mailto:cs.reps@coe.upd.edu.ph" class="d-inline-flex"><i class="fas fa-envelope m-auto"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="after-landpage">
		<div class="container">
			<div class="my-5 py-5">
				<div class="row">
					<div class="col-lg-7">
						<h1 class="font-weight-bold mb-3">
							<span class="text-green">about.</span> 
							<i class="fas fa-laptop-code h3"></i>
						</h1>
						<p>We are the Computer Science Representatives to the Engineering
						Student Council, the direct arm of the UP Diliman Department of
						Computer Science in organizing events and activities to foster an
						environment that promotes academic excellence, professionalism and
						social responsibility. We represent <span class="font-weight-bold">over 400 undergraduate students</span> taking BS Computer Science.</p>
					</div>
					<div class="col-lg-5 d-flex flex-column mt-3 mt-lg-0">
						<h4 class="font-weight-bold text-center mb-3">Current CS Representatives</h4>
						<div class="m-auto">
							<div class="csrep-frame mb-3 d-inline-flex flex-column flex-lg-row d-lg-flex">
								<img class="my-auto rounded-circle align-self-center" src="{% static 'main/images/landing/cs-rep-1.jpg' %}">
								<p class="ml-3 my-lg-auto mt-3">Walter Rafael Partosa Jr.</p>
							</div>
							<div class="csrep-frame mb-3 d-inline-flex flex-column flex-lg-row d-lg-flex">
								<img class="my-auto rounded-circle align-self-center" src="{% static 'main/images/landing/cs-rep-2.jpg' %}">
								<p class="ml-3 my-lg-auto mt-3">Menard Ysrael Cruz</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="my-5">
				<h1 class="font-weight-bold mb-1">
					<span class="text-green">our events.</span>
					<i class="far fa-calendar-alt h3"></i>
				</h1>
				<div class="row">
					<div class="col-lg-6 p-2 csreps-events">
						<div class="d-flex bg-pic" style="background-image: url('{% static 'main/images/landing/grad-dinner.jpg' %}');">
							<div class="overlay"></div>
							<div class="m-auto title">
								<h2 class="font-weight-bold" style="color: white">GRADUATION DINNER</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-2 csreps-events" >
						<div class="d-flex bg-pic" style="background-image: url('{% static 'main/images/landing/bootcamp.jpg' %}');">
							<div class="overlay"></div>
							<div class="m-auto title" >
								<h2 class="font-weight-bold" style="color: white">BOOTCAMP</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-2 csreps-events"  >
						<div class="d-flex bg-pic" style="background-color: #555; background-image: url('{% static 'main/images/landing/geecs.jpg' %}');">
							<div class="overlay"></div>
							<div class="m-auto title" >
								<h2 class="font-weight-bold" style="color: white">GEECS</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6 p-2 csreps-events"  >
						<div class="d-flex bg-pic" style="background-image: url('{% static 'main/images/landing/cs-week.jpg' %}'); ">
							<div class="overlay"></div>
							<div class="m-auto title" >
								<h2 class="font-weight-bold" style="color: white">CS WEEK</h2>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="my-5 py-3">
				<h1 class="font-weight-bold mb-3">
					<span class="text-green">our projects and services.</span>
					<i class="fas fa-concierge-bell h3"></i>
				</h1>
				<div class="csreps-projects">
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-2 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image" src="{% static 'main/images/landing/acadsesh.png' %}">
						</div>
						<div class="col-lg-6 order-lg-1 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold">Academic and Review Sessions</h5>
								<p>
									We hold academic and review sessions to help students study before their exams. In the sessions, we tackle lessons covered and address questions students have about the topics.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-1 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image" src="{% static 'main/images/landing/codex.png' %}">
						</div>
						<div class="col-lg-6 order-lg-2 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold mb-1">CODEX</h5>
								<h6 class="mb-3 text-muted">Calendar of Deadlines, and Events and Exams</h6>
								<p>
									The Calendar of Deadlines, Events, and Exams or CODEX is a web-app that is developed by the CS Representatives for the reference of the entire DCS community. A valuable asset to the average student, the CODEX is used by many to stay up to date on all department-related events.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-2 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image" src="{% static 'main/images/landing/troubleshooter.png' %}">
						</div>
						<div class="col-lg-6 order-lg-1 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold">Troubleshooter</h5>
								<p>
									Troubleshooter is the helpdesk of the CS Representatives. Computer Science students may direct all of their departmental concerns to the CS Representatives anonymously.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-1 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image" src="{% static 'main/images/landing/import-logo.png' %}">
						</div>
						<div class="col-lg-6 order-lg-2 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold">Import *</h5>
								<p>
									To address the growing demand for course-specific review material, the Computer Science Representatives are developing a web-app similar to other educational apps like Duolingo. Primarily, majors from the department will be included, but will branch out eventually to electives such as Physics and Math. A team of developers will ensure that this web-app will be open to use for all students of the department.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-2 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image-long" src="{% static 'main/images/landing/encrypted.png' %}">
						</div>
						<div class="col-lg-6 order-lg-1 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold">Encrypt Locker System</h5>
								<p>
									The Encrypt Locker System is a free locker usage system for DCS students. The lockers shall help students store their projects in the department for a limited time.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-1 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image" src="{% static 'main/images/landing/ccc.png' %}">
						</div>
						<div class="col-lg-6 order-lg-2 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold mb-1">C++</h5>
								<h6 class="mb-3 text-muted">Community, Connection and Collaboration</h6>
								<p>
									In order to bring the department community closer together, a series of events and activities called the C++ Initiatives have been designed to foster holistic development and provide students and faculty alike with a venue to relax and focus on non-academic activities.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-2 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image-long" src="{% static 'main/images/servers-text.png' %}">
						</div>
						<div class="col-lg-6 order-lg-1 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold">DCS Servers</h5>
								<p>
									Formerly known as the Dedicated Computer Science Students, the DCS Servers is the official volunteer corps of the Department of Computer Science. They organize the events of the department and cater to the needs of the Computer Science students. They also serve as an intermediary between the Students and the department's faculty.
								</p>
							</div>
						</div>
					</div>
					<div class="row py-3 py-lg-4">
						<div class="col-lg-6 order-lg-1 d-flex col-4">
							<img class="mx-auto align-self-lg-center align-self-start project-image-long" src="{% static 'main/images/parser-long.png' %}">
						</div>
						<div class="col-lg-6 order-lg-2 d-flex col-8">
							<div class="m-auto">
								<h5 class="font-weight-bold">The UP Parser</h5>
								<p>
									The UP Parser is the College of Engineering’s first and foremost department-based publication. As the official student of the Department of Computer Science (DCS), The UP Parser aims to be the voice of the community it serves, a mediator between the department and student body.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="my-2 pt-1">
				<div class="row mt-3">
					<div class="col-lg-4 d-flex order-lg-2 my-auto">
						<img class="mx-auto cs-net-logo mb-3" src="{% static 'main/images/cs-net-logo.png' %}">
					</div>
					<div class="col-lg-8 order-lg-1 my-auto">
						<h1 class="font-weight-bold mb-lg-4 mb-3">
							<span class="text-green">the cs network.</span>
						</h1>
						<p>
							Organized by the CS Representatives, the CS Network is the first student organization alliance of its kind in the UP Diliman College of Engineering.
						</p>
						<a href="http://bit.ly/CSNetworkConstitution" target="_blank">
							<button class="btn btn-primary mb-5 d-flex mx-auto mx-lg-0 mt-4 mt-lg-0" type="button">
								<i class="fas fa-file-pdf h5 my-auto mr-2"></i>
								<span class="my-auto">CS Network Constitution</span>
							</button>
						</a>
					</div>
				</div>
				<h5 class="font-weight-bold">Members</h5>
				<div class="cs-net-mems row mt-3">
					<div class="col-lg-6">
						<div class="d-flex mb-2">
							<div class="cs-net-org d-flex mr-2 flex-shrink-0" class="my-auto">
								<img src="{% static 'main/images/acm-sm.png' %}" class="m-auto">
							</div>
							<div class="d-flex flex-column my-auto">
								<p class="my-auto">Association for Computing Machinery - UP Diliman Student Chapter, Inc.</p>
								<div class="d-flex mt-2">
									<a href="https://www.facebook.com/upacm" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="https://twitter.com/upacm" target="_blank">
										<i class="fab fa-twitter mx-2"></i>
									</a>
									<a href="http://upacm.net" target="_blank">
										<i class="fas fa-globe"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="d-flex mb-2">
							<div class="cs-net-org d-flex mr-2 flex-shrink-0" class="my-auto">
								<img src="{% static 'main/images/csi-sm.png' %}" class="m-auto">
							</div>
							<div class="d-flex flex-column my-auto">
								<p class="my-auto">UP Center for Student Innovations</p>
								<div class="d-flex mt-2">
									<a href="https://www.facebook.com/upcsi" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="https://twitter.com/officialupcsi" target="_blank">
										<i class="fab fa-twitter mx-2"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="d-flex mb-2">
							<div class="cs-net-org d-flex mr-2 flex-shrink-0" class="my-auto">
								<img src="{% static 'main/images/cursor-sm.png' %}" class="m-auto">
							</div>
							<div class="d-flex flex-column my-auto">
								<p class="my-auto">UP Association of Computer Science Majors</p>
								<div class="d-flex mt-2">
									<a href="https://www.facebook.com/UPCURSOR" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="https://twitter.com/UPCURSOR" target="_blank">
										<i class="fab fa-twitter mx-2"></i>
									</a>
									<a href="http://upcursor.com" target="_blank">
										<i class="fas fa-globe"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="d-flex mb-2">
							<div class="cs-net-org d-flex mr-2 flex-shrink-0" class="my-auto">
								<img src="{% static 'main/images/dcss-sm.png' %}" class="m-auto">
							</div>
							<div class="d-flex flex-column my-auto">
								<p class="my-auto">Department of Computer Science Servers</p>
								<div class="d-flex mt-2">
									<a href="https://www.facebook.com/up.dcss">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="http://cs.upesc.org/dcs-servers">
										<i class="fas fa-globe ml-2"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="d-flex mb-2">
							<div class="cs-net-org d-flex mr-2 p-2 flex-shrink-0" class="my-auto">
								<img src="{% static 'main/images/parser-sm.png' %}" class="m-auto">
							</div>
							<div class="d-flex flex-column my-auto">
								<p class="my-auto">The UP Parser</p>
								<div class="d-flex mt-2">
									<a href="https://www.facebook.com/upparser" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
									<a href="https://twitter.com/upparser" target="_blank">
										<i class="fab fa-twitter mx-2"></i>
									</a>
									<a href="http://theupparser.wordpress.com" target="_blank">
										<i class="fas fa-globe"></i>
									</a>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>


			<div class="my-5">
				<h1 class="font-weight-bold mb-3">
					<span class="text-green">updates.</span>
				</h1>
				
				<div class="row">
					<div class="col-lg-3 order-2">
						<h4 class="font-weight-bold text-green mb-3">calendar schedule.</h4>
						<div class="d-flex flex-lg-column">
							<div class="enclosing p-3 d-flex ml-lg-1">
								<div class="rounded-circle bg-dark my-auto mr-1 flex-shrink-0" style="height: 50px;width:50px; background-image: url('https://scontent.fcrk3-1.fna.fbcdn.net/v/t1.0-0/p180x540/115929400_3579305518781912_7676473246692021661_o.jpg?_nc_cat=100&_nc_sid=340051&_nc_ohc=8qnMVCG3UtQAX-Mpxsv&_nc_ht=scontent.fcrk3-1.fna&_nc_tp=6&oh=15f4b7b3cf9592a3cd6e28919df6dc62&oe=5F641E40'); background-size:cover; background-position: center;">
								</div>
								<div class="my-auto mx-2">
									<small style="font-weight: 600">Bootcamp 7.0</small>
									<p class="mb-0"><small>August 24-28 | 1-5 PM</small></p>
								</div>
							</div>
						</div>
						<small class="float-right mt-2">Powered by Codex</small>
					</div>
					<div class="col-lg-9 order-1 csreps-update-container">
						<div class="mb-4 d-flex">
							<div class="loader mx-auto"></div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css"/>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script async>
		var request;
		if (request)
			request.abort();
		
		request =  $.ajax({
			type: 'post',
			url: '{% url "main:index" %}',
			headers: {'X-CSRFToken': '{{csrf_token}}' },
			success: function (response, status, xhr){
				$('.csreps-update-container').html(response.updates);

				$('.csreps-updates').slick({
					variableWidth: true,
					centerMode: true,
					centerPadding: '60px',
					slidesToShow: 1,
					slidesToScroll: 1,
					autoplay: true,
					autoplaySpeed: 5000,
					responsive: [{
					  	breakpoint: 768,
					  	settings: {
						    arrows: false,
						    centerMode: true,
						    centerPadding: '40px',
						    slidesToShow: 3
					  	}
					},
					{
					  breakpoint: 480,
					  settings: {
					    arrows: false,
					    centerMode: true,
					    centerPadding: '40px',
					    slidesToShow: 1
					  }
					}],
					asNavFor: '.csreps-updates-content',
					focusOnSelect: true,
					infinite: true
				});

			   $('.csreps-updates-content').slick({
				  slidesToShow: 1,
				  slidesToScroll: 1,
				  arrows: false,
				  //adaptiveHeight: true,
				  fade: true,
				  asNavFor: '.csreps-updates',
				  infinite: true
				});
		    }
		});
	</script>
{% endblock %}