{% extends 'main/base.html' %}
{% load static %}
{% block content %}
	<div class="site-container d-flex landing-bg">
		<div class="landing-overlay">
			<div class="h-100 botleft-vector"></div>
			<div class="h-100 right-vector position-absolute w-100" style="top:0"></div>
		</div>
		<div class="container landing-content d-flex">
			<div class="my-auto mx-auto mx-lg-0">
				<p class="top-text mb-1" style="letter-spacing: 5px;">UNIVERSITY OF THE PHILIPPINES DILIMAN</p>
				<h1 class="font-weight-bold title">COMPUTER SCIENCE</h1>
				<div class="px-2 subtext">
					<h1 class="font-weight-bold title">REPRESENTATIVES</h1>
				</div>
			</div>
		</div>
		<div class="position-absolute landing-bg-credits w-100 h-100 d-flex">
			<div class="container mt-auto mb-3">
				<small class="text-right">Photo by Ramon F. Velasquez</small>
			</div>
		</div>
	</div>
	<div class="after-landpage">
		<div class="container my-4">
			<h1 class="font-weight-bold">about.</h1>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>


	</script>
{% endblock %}