/* CS Reps Site Styles */

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;
	color: #060606;
	font-size: 1.15rem;
}

.wip-body{
	background-color: #121212;
	color: white;
	font-size: initial;
}

.site-container{
	min-height: 100vh;
}

.site-content{
	min-height: 85vh;
}

.wip-image{
	height: 60px;
}

.socmed-icons{
	font-size: 1.5em;
}

.wip-body a{
	color: white;
	transition: 0.15s ease-in-out;
}

.wip-body a:hover{
	color: white;
	opacity: 0.85;
	text-decoration: none;
}

.csreps-header, .csreps-footer{
	z-index: 100;
}

.csreps-header .navbar-brand img{
	height: 2.25rem;
}

.landing-bg{
	background-image: url('../images/landing/comsci-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color:white;
	border-bottom: #7b1315 5px solid;
}

.landing-bg .botleft-vector{
	background-image: url('../images/landing/botleft-vector.png');
	background-repeat: no-repeat; 
	background-position: bottom left; 
	background-size: contain; 
	opacity: 0.9;
	transition: 0.2s ease-in-out;
	background-attachment: fixed;
}

.landing-bg .right-vector{
	background-image: url('../images/landing/hex-grid.png');
	background-repeat: no-repeat; 
	background-position: right; 
	background-size: 45%; 
	opacity: 0.34;
	transition: 0.2s ease-in-out;
	background-attachment: fixed;
}

.landing-overlay{
	background-color: #166735; 
	height: 100%;
	width: 100%;
	opacity: 0.42;
	position: absolute;
	border-bottom: #7b1315 5px solid;
}

.landing-content{
	z-index: 2;
}

.landing-content .title{
	font-size: 4rem;
	letter-spacing: 0.1rem;
	padding: 0
}

.landing-content .subtext{
	text-shadow: #d2d2d2 0px 3px 0px;
	background-color: #efefef;
	color: #f7961d;
}

.container{
	max-width: 1275px;
}

.landing-bg-credits{
	text-align: right;
}

.landing-bg-credits .container{
	opacity: 0.85;
}

.landing-socmed{
	font-size: 1.5rem;
}

.landing-socmed a{
	color: white;
	border-radius: 100%;
	width: 3.75rem;
	height: 3.75rem;
	border: 1px solid white;
	transition: 0.07s;
}

.landing-socmed a:hover{
	background-color: white;
	color: #166735;
	text-decoration: none;
}

.after-landpage{
	border-top: solid 3px #cddccd;
}

.text-green{
	color: #166735;
}

.bg-green{
	background-color: #166735;
}

.csrep-frame img{
	max-height: 7rem;
}

.csreps-footer{
	color: white;
	overflow: hidden;
	position: relative;
}

.footer-overlay{
	background-image: url(../images/landing/botright-vector.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 37%;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    position: absolute;
}

.csreps-events{
	height: 17.5rem;
	display: flex;
}

.csreps-events:hover{
	cursor: pointer;
}

.csreps-events .bg-pic{
	background-size: 100%;
	background-position: center;
	height: 100%;
	width: 100%;
	transition: 0.15s ease-in-out;
	overflow: hidden;
	position: relative;
}

.csreps-events .bg-pic:hover{
	background-size: 115%;
}

.csreps-events .overlay{
	background-color: black;
	opacity: 0.12;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.15s;
}

.csreps-events .bg-pic:hover .overlay{
	background-color: #7b1315;
	opacity: 0.6;
}

.csreps-events .title{
	z-index: 3;
}

.csreps-projects p{
	margin: 0;
}


.cs-net-mems .cs-net-org{
	height: 75px;
	width: 75px;
}

.cs-net-mems .cs-net-org img{
	max-width: 80%;
	max-height: 80%;
}


.cs-net-mems p{
	margin-bottom: 0.5rem;
	font-size: 1rem;
}

.btn{
	border-radius: 0;
}

.btn-primary{
	background-color: #166735;
	border-color: #166735;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #4b6f2c;
	border-color: #f7961d;
}

a:hover{
	text-decoration: none;
}


.cs-net-mems a{
	color: #5f5f5f;
	transition: 0.1s;
}

.cs-net-mems a:hover{
	color: #4b6f2c;
}