/* CS Reps Site Styles */


.wip-body{
	background-color: #121212;
	color: white;
}

.site-container{
	min-height: 100vh;
}

.site-content{
	min-height: 85vh;
}

.wip-image{
	height: 60px;
}

.socmed-icons{
	font-size: 1.5em;
}

.wip-body a{
	color: white;
	transition: 0.15s ease-in-out;
}

.wip-body a:hover{
	color: white;
	opacity: 0.85;
	text-decoration: none;
}